
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
.busca{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.box {
    width: 550px;
    height: 300px;
    background-color: #003f8a;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    flex-direction: column;
    display: flex;
    padding: 14px;

}
a {
    text-decoration: none;
    color: inherit;
}

.a {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}


.btn.primary {
  background: #ffffff;
  color: #003f87;
}

.btn.secondary {
  background: #ffffff;
   color: #003f87;
}

.adicionar-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #003f8a;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
/* 
form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
} */

input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(160, 156, 156);
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 16px;
    outline: none;
    transition: border-color 0.2s;
    border: 1px solid #ccc;
    border-radius: 6px;
}
@media (max-width: 768px){
    .nav-top-row {
        padding: 0 1rem;
    }

    .bloco {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        transform: translateY(0) !important;
    }

    .blocos {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
    .mobile-menu {
        display: none !important;
    }
    .nav-desktop-list {
        display: flex;
    }

    .nav-top-row {
        justify-content: center;
        height: auto;
        padding: 1rem;
    }
    .brand-text {
        display: none;
    }
}