{% extends 'base.html' %} 
{% load static %} 

{% block title %}CamBeach - Campeonatos{% endblock title %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/campeonatos.css' %}" />
{% endblock extra_css %} 

{% block content %}
    <section class="busca" id="hero">
        <h2>Campeonatos Disponíveis</h2>
        <form action="{% url 'tornament' %}" method="GET">
            <input
                type="text"
                name="pesquisa"
                id="pesquisa"
                placeholder="Pesquisar Campeonatos"
            />
            <button class="btn primary" type="submit">Pesquisar</button>
        </form>
    </section>

    {% for tournament in tournaments %}
        <div class="container">
            <div class="box">
                <h3>{{ tournament.name }}</h3>
                <p>{{ tournament.start_date }}</p>
                <p>{{ tournament.local }}</p>
                <p>{{ tournament.organization }}</p>
                <p>{{ tournament.n_players }}</p>
                <p>Premiação: R$ 3000</p>
                <div class="a">
                    {%if user.is_authenticated%}
                        <a class="btn primary" href="{% url 'inscrever' tournament_id=tournament.id %}">Inscrever-se</a>
                    {%endif%}
                    <a class="btn secondary" href="{% url 'chaves' tournament.pk %}">Ver Chaves</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}