{% extends 'base.html' %}
{% load static %}

{% block title %}CamBeach - Organizador{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/criar-campeonato.css' %}" />
{% endblock extra_css %}


{% block content %}
    <main class="login-container">
            <div class="form-box">
                <h1>Dados Campeonato</h1>
                <form action="{%url 'create_tournament_page'%}" method="post">

                    {% csrf_token %}
    
                    {{ form.as_p }}

                    <button type="submit" class="btn-primary">Enviar Solicitação</button>
                </form>
            </div>
    </main>
{% endblock content %}