{% extends 'base.html' %}
{% load static %}

{% block title %}CamBeach - Organizador{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/organizador.css' %}" />
{% endblock extra_css %}


{% block content %}
    <main class="login-container">
        <div class="form-box">
            <form action="{% url   'create_tournament_page'%}" >
            
                <button type="submit" class="btn-primary">Solicitar Criação de Campeonato</button>
            </form>
        </div>
    </main>
{% endblock content %}