<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Campeonatos</title>
  <link rel="stylesheet" href="../CSS/campeonatos.css">
</head>
<body>
  <header>
    <h1>Beach Tennis</h1>
    <nav>
      <ul>
        <li><a href="inicio.html">Início</a></li>
        <li><a href="campeonatos.html">Campeonatos</a></li>
        <li><a href="suporte">Suporte</a></li>
        <li><a href="cadastro.html">Cadastro/Login</a></li>
        <li><a href="organizador.html">Login organizador</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="hero">
      <h2>Bem-vindo ao site!</h2>
      <p>Esses quadrados abaixo são apenas um exemplo de layout flexível.</p>
    </section>

    <div class="container">
      <div class="box">Campeonato 1</div>
      <div class="box">Campeonato 2</div>
      <div class="box">Campeonato 3</div>
      <div class="box">Campeonato 4</div>
    </div>
  </main>

</body>
</html>
