<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "cambeach_app/inicio.css" %}">
</head>
<body>
    <header>
    <h1>Beach Tennis</h1>
    <nav>
      <ul>
        <li><a href="inicio.html">Início</a></li>
        <li><a href="campeonatos.html">Campeonatos</a></li>
        <li><a href="suporte">Suporte</a></li>
        <li><a href="cadastro.html">Cadastro/Login</a></li>
        <li><a href="organizador.html">Login organizador</a></li>
      </ul>
    </nav>
    </header>
    <main>
    <div class="blocos">
      <div class="bloco">
        <h2>Bem-vindo ao nosso Site!</h2>
        <p>Somos um site onde você pode: se inscrever, divulgar e procurar campeonatos que forem perto da sua região ou campeonatos de seu interesse. Desenvolvemos essa página com o intuito de ajudar a comunidade de Beach Tennis a crescer ainda mais no Brasil.</p>
      </div>

      <div class="bloco">
        <h2>Como funciona?</h2>
        <p>Primeiro você cria a sua conta, após isso, você poderá se inscrever nos campeonatos. Também temos a opção de visitante, a qual você não pode se inscrever nos campeonatos, mas pode acompanhá-los.</p>
      </div>

      <div class="bloco">
        <h2>Quem pode criar um campeonato?</h2>
        <p>Qualquer um pode criar um campeonato, mesmo que seja só para diversão, competir com pessoas diferentes, ganhar experiência, conhecer gente nova, e claro: para vencer!</p>
      </div>
    </div>
  </main>
</body>
</html>