@import 'style.css';

header {
    background-color: #003f8a;
    color: white;
    text-align: center;
    padding: 15px;
}
.Titulo {
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
  padding: 50px 0;
}
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 20px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
}

.form-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
h1 {
    margin-bottom: 24px;
    color: #003f8a;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gen {
        display: flex;
        margin-top: 20px;
}
.masc {
    margin-right: -50px;
}
.fem {
    margin-right: -50px;
}
.pass {
    margin-top: 40px;
}
.btn-primary {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: #003f8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 12px;
}

.btn-primary:hover {
    background: #002f6c;
}