@import 'style.css';

.blocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}

.bloco {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 280px;
    min-height: 220px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s ease-out, box-shadow 0.3s;
}
.bloco h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}
.bloco p {
    line-height: 1.5;
}

.bloco:nth-child(1) {
    transform: translateY(0);
}

.bloco:nth-child(2) {
    transform: translateY(60px);
}

.bloco:nth-child(3) {
    transform: translateY(60px);
}

@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
    .mobile-menu {
        display: none !important;
    }
    .nav-desktop-list {
        display: flex;
    }

    .nav-top-row {
        justify-content: center;
        height: auto;
        padding: 1rem;
    }
    .brand-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-top-row {
        padding: 0 1rem;
    }

    .bloco {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        transform: translateY(0) !important;
    }

    .blocos {
        padding-top: 0;
    }
}
