@import 'style.css';

@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
    .mobile-menu {
        display: none !important;
    }
    .nav-desktop-list {
        display: flex;
    }

    .nav-top-row {
        justify-content: center;
        height: auto;
        padding: 1rem;
    }
    .brand-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-top-row {
        padding: 0 1rem;
    }

    .bloco {
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
        transform: translateY(0) !important;
    }

    .blocos {
        padding-top: 0;
    }
}

.section {
  margin-bottom: 25px;
}

.section-title {
  text-align: left;
  font-size: 26px;
  color: #003f8a;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 22px;
}

label {
  font-size: 14px;
  color: #444;
  display: block;
  margin-bottom: 5px;
  margin-left: 35px;
}

input, select {
  width: 50%;
  padding: 12px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 30px;
}

.required {
  color: red;
  font-weight: bold;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.secondary {
    width: 10%;
    padding: 14px;
    background: #003f8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 15px;
    margin-bottom: 15px;
}

.btn {
    width: 10%;
    padding: 14px;
    background: #003f8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 15px;
    margin-bottom: 15px;
}


.btn:hover {
    background: #002f6c;
}

.secondary:hover {
    background: #002f6c;
}

.cat {
    display: grid;
    margin-top: 20px;
}