:root {
    --azul-claro: #a5d8ff;
    --azul-escuro: #003f8a;
    --branco: #ffffff;
    --cinza-claro: #f4f6f8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.site-header {
    background: var(--branco);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    color: var(--azul-escuro);
    text-decoration: none;
    font-weight: bold;
}

.btn-transparent {
    background: transparent;
    color: var(--azul-escuro);
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid var(--azul-escuro);
    border-radius: 6px;
    transition: 0.3s;
}

.btn-transparent:hover {
    background: var(--azul-escuro);
    color: var(--branco);
}
h1 {
    color: #003f8a;
    text-align: center;
}

.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.foto-perfil {
    height: 150px;
    border-radius: 50%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 18px;
}

.nome {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    
}


.info {
    flex: 1;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info h2 {
    margin-top: 0;
}

.info p {
    margin: 8px 0;
    font-size: 16px;
}

